<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Другая страница</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
   <% tfetch(QString, newTitle); %>
   <h1><%= newTitle %></h1>
   <%== linkTo("Вернуться на главную", urla("index")) %>
</body>
</html>